@include phone {
  * {
    box-sizing: border-box;
    overflow-x: hidden;
  }
  .heroSection {
    .heroPortraitContainer {
      height: 0;
      visibility: hidden;
      z-index: -21;
    }
    position: relative;
    text-align: center;

    margin-top: 1rem;
    h1 {
      font-size: 2em;
    }
    h1,
    h2 {
      font-family: $secondary-font-stack;
      font-style: bold;
      letter-spacing: 2.5%;
    }
    h1,
    p {
      padding: 1em;
      color: $primary-fnt-color;
      span {
        font-size: 20px;
        color: #ffb266;
      }
    }
    h2 {
      opacity: 0.5;
      color: $secondary-fnt-color;
      span {
        font-size: 28px;
        color: #ffb266;
      }
    }
  }

  .aboutMe {
    text-align: center;

    h2 {
      padding: 0.3em;
      border-bottom: 2px solid #ffb266;
      span {
        font-size: 28px;
        color: #ffb266;
      }
    }
    p {
      padding: 1em;
      span {
        font-size: 20px;
        color: #ffb266;
      }
    }
    .currentTech {
      text-align: justify;

      h4 {
        padding: 0.3em;
        border-bottom: 2px solid #ffb266;
      }
      span {
        color: #31ff68;
      }
    }
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2em;

    img {
      width: 100%;
      // z-index: 3;
      border: 3px solid #fff;
    }
    h2 {
      padding: 0.3em;
      border-bottom: 2px solid #ffb266;
    }
    h4 {
      text-align: center;
      span {
        color: #fff;
        font-size: 22px;
      }
    }
    p {
      padding: 1em;
      color: darken(#ccc, 5%);
    }
    span {
      font-size: 28px;
      color: #ffb266;
    }
  }

  .contactSection {
    display: flex;
    justify-content: center;
    align-items: center;
    .contactContainer {
      display: grid;
      justify-content: space-evenly;
      grid-template-columns: 1fr;
      text-align: left;
      width: 100%;
      h2 {
        margin: 1.5em;
        padding: 0.3em;
        border-bottom: 2px solid #ffb266;
        span {
          font-size: 28px;
          color: #ffb266;
        }
      }
      .contactCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 1em;

        label {
          color: #fff;
        }
        input,
        textarea {
          margin: 1em;
          border: none;
          background: none;
          padding: 0.5em;
          // background: none;
          border-radius: 15px;
          border-bottom: 2px solid #ffb256;
        }
      }
    }
  }

  .footerSection {
    display: block;
  }
  p {
    padding: 1em;
    text-align: center;
  }
  .footerSocialLinks {
    display: inline-flex;
    justify-content: space-between;
    a {
      margin: 0.5em;
      padding-left: 0;
    }
  }
}
