@import "config";
@import "mobile-menu";
// @import "lrgPhone";
@import "phone";
// @import "laptop";
@import "desktop";
@import "socialSidebar";
@import "animate";

a {
  text-decoration: none;
}
li {
  list-style: none;
}

body {
  font-family: $main-font-stack;
  font-size: 16px;
  background: $primary-bg-color;
  color: $primary-fnt-color;
  height: 100%;
  margin: 0;
}

header {
  width: 100%;
  z-index: 2;
  height: 1em;
}
