@import "socialSidebar";

@media (min-width: 768px) {
  * {
    box-sizing: border-box;
    overflow-x: visible;
  }
}
@include desktop {
  body {
    display: block;
    width: 100%;
  }
  .menu {
    padding: 0;
    align-items: center;
    text-align: center;
    .menuNav {
      z-index: 3;
      position: fixed;
      right: 35px;
      display: inline-flex;
      justify-content: center;
      .navItem {
        position: relative;
        margin: 1em;
      }
      .btnContainer {
        margin-top: 0.4em;
      }
    }
  }

  .mainContent {
    margin: 3em;
    height: 100%;
    position: initial;

    .heroSection {
      overflow-y: hidden;
      display: flex;
      justify-content: center;
      margin-left: 14em;
      margin-right: 14em;

      .heroContainer {
        h1 {
          text-align: center;
          font-size: 2.5em;
        }
        h2 {
          font-size: 2.5em;
        }

        .heroText {
          font-size: 1.2em;
          span {
            font-size: 1.4em;
          }
        }
      }
    }
    .aboutMe {
      display: flex;
      justify-content: center;
      text-align: center;
      margin-left: 14em;
      margin-right: 14em;
    }
    h2 {
      font-size: 2.5em;
    }
    p {
      font-size: 1.3em;
      line-height: 1.3em;
    }
  }

  .projects {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 14em;
    margin-right: 14em;

    h2 {
      font-size: 2.5em;
    }
    p {
      font-size: 1.3em;
      line-height: 1.3em;
    }
  }

  .contactSection {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 14em;
    margin-right: 14em;

    h2 {
      font-size: 2.5em;
    }
    p {
      font-size: 1.3em;
      line-height: 1.3em;
    }
  }
}
